* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.slider {
    --slide-width: 10rem;
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.slide {
    --card-opacity: 0.3;

    display: none;
    width: var(--slide-width);
    aspect-ratio: 4 / 5;
    border-radius: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    backdrop-filter: blur(5px);
    mix-blend-mode: overlay;

}

.slide[data-type='active'] {
    display: block;
}

.slide[data-type='before'] {
    display: block;
    position: absolute;
    scale: 0.8;
    left: 0;
    transform: translatex(-7rem);

    z-index: -1;

}

.slide[data-type='after'] {
    display: block;
    position: absolute;
    scale: 0.8;
    right: 0;
    transform: translatex(7rem);

    z-index: -1;
}

.num1 {
    background-color: #E0A458;
}

.num2 {
    background-color: #FFEE93;
}

.num3 {
    background-color: #8DAA91;
}

.num4 {
    background-color: #E3D87E;
}

.num5 {
    background-color: #92140C;
}

.num6 {
    background-color: #F7A9A8;
}

.num7 {
    background-color: #613F75;
}

.num8 {
    background-color: #DEA47E;
}

[data-btn] {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    transition: scale 200ms ease;
}

[data-btn]:hover {
    scale: 1.1;
}