body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    min-width: 1619px;
}

.main-header {
    background: linear-gradient(45.89deg, rgb(255, 146, 146) -7.333%, rgb(222, 81, 80) 90.222%);
}

.header-menu {
    width: 47px;
    height: 47px;
    background: #fff;
    border-radius: 50%;
}

.menu-block {
    gap: 64px;
}

.main-header-img {
    background-image: url(./img/svg/header-music-fon.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 812px;
    height: 100%;
}

.main-img {
    width: 570px;
        height: 583px;
}

.btn-buy {
    width: 191px;
    height: 61px;
    border-radius: 62px;
    background: rgb(255, 255, 255);
    color: rgb(255, 73, 72);
}

.text-small,
.text-big,
.new-price {
    color: rgb(255, 255, 255);
}

.btn-buy,
.text-small {
    font-size: 22px;
    font-weight: 500;
}

.text-big {
    font-size: 99px;
    font-weight: 700;
}

.new-price {
    height: 57px;
    font-size: 44px;
    font-weight: 700;
    border-right: 2px solid rgb(255, 255, 255);
}

.old-price {
    color: rgb(255, 255, 255);
    font-size: 31px;
    font-weight: 500;
    opacity: 0.7;
}